@font-face {
	font-family: 'Consolas';
	src: url('../fonts/Consolas.ttf') format('truetype');
}
@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'NunitoBold';
	src: url('../fonts/Nunito-Bold.ttf') format('truetype');
}
.ToolList{
	position: absolute;
	left: 246px;
	top: 10px;
	display: inline-flex;
	flex-direction: row;
	padding: 5px 30px;
	height: 30px;
	border-radius: 5px;
	transition: left 0.3s;
}
.ToolListItem{
	display: block;
	width: 30px;
	height: 24px;
	line-height: 24px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	margin: 5px;
	z-index: 3;
	transition: 0.3s;
}
.chosenToolIf{
	width: 40px;
	height: 32px;
	line-height: 32px;
	font-size: 32px;
	margin-top: 2px;
	z-index: 3;
}
.SelectedTool{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	position: absolute;
	left: calc(50% - 25px);
	top: 5px;
	transition: cubic-bezier(0.62, 1.46, 0.32, 1.01) 0.3s;
}
.HtmlContainer{
	height: 500px;
	width: 1000px;
	margin: auto;
	display: block;
}
.InfoContainer{
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	float:left;
	width: 380px;
	height: 500px;
}
.GrapherContainer{
	float:right;
	width: 600px;
	height: 500px;
}
.SvgContainer{
	width: 600px;
	height: 450px;
	border-radius: 5px;
}
.ToolListContainer{
	height: 50px;
	width: 600px;
	display: grid;
	position: relative;
	place-items: center;
}
.ToolList2{
	display: flex;
	flex-direction: row;
	position: relative;
	padding: 5px 30px;
	height: 30px;
	border-radius: 5px;
}
.ToolListItem2{
	display: block;
	width: calc(20% - 10px);
	height: 24px;
	line-height: 24px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	margin: 5px;
	z-index: 3;
}
.SelectedTool2{
	width: 50px;
	height: 50px;
	border-radius: 0 0 50px 50px;
	position: absolute;
	left: 32px;
	top: 0px;
	z-index: 2;
	transition: cubic-bezier(0.62, 1.46, 0.32, 1.01) 0.3s;
}
.InfoDetail{
	user-select: none;
	padding: 10px;
	padding-top: 15px;
	display: inline-block;
	width: 100%;
	height: 100%;
	overflow: scroll;
	font-size: 14px;
}
.InfoDetailContainer{
	display: flex;
	flex-direction: row;
}
input{
	-webkit-app-region: no-drag;
	transition: background 0.3s;
    padding: 1px;
    font-size: 14px;
    font-family: 'Consolas','Fira Code','Source Code Pro','Lucida Console','Cascadia Code','Ubuntu Mono','Monospace';;
    height: 16px;
    outline: none;
    border: 0px;
}
.InfoSonList{
	margin-left: 18px;
}

::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb{
    border-radius: 1px;
}
::-webkit-scrollbar-corner{
    display: none;
}

input[type="range"] {
	-webkit-appearance: none;
	background-color: grey;
	height:4px;
	padding: 0;
	border: none;
	vertical-align: middle;
	margin: 0px 3px;
	width: 100px;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	cursor: pointer;
	top: 0;
	height: 15px;
	width: 15px;
	transform: translateY(0px);
	border-radius: 10px;
	background: grey;
	transition: border 0.2s;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	vertical-align: middle;
}
input[type="number"]{
	-moz-appearance: textfield;
	display: table-cell;
	vertical-align: middle;
}
[codeid] > div{
	display: table;
}
select{
	-webkit-app-region: no-drag;
	transition: background 0.3s;
	font-size: 14px;
    border: none;
    outline: none;
    font-family: 'Consolas','Fira Code','Source Code Pro','Lucida Console','Cascadia Code','Ubuntu Mono','Monospace';;
    height: 16px;
}
.ColorShow{
	padding-top: 1px;
}